*{
    padding: 0;
    margin: 0;
}
.logo{
    background: none;
    background-color: black;
    color: black;

}

.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
}
.nav-item{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: black;
}
.navbar-brand span{
    color: rgb(223, 38, 38);
}
.navbar a:hover{
    background-color: grey;
    color: brown;
}
.container h1{
    text-align: center;
}
.carousel-inner{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.footer{
    padding-left: 1%;
    background-color: aliceblue;
    color: rgb(66, 67, 68);
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.footer :hover{
    color: red;
}
.button :hover{
  background-color: green;
}